# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Exclude obj
obj/

# Exclude bin except bin/data
!/bin
/bin/*
!/bin/data

# CodeBlocks layout files
*.layout

# TODO
todo.txt
